p, span{
    font-size: 25px !important;
    font-weight: bold !important;
}

span{
    text-align: left !important;
    margin-left: 300px;
    margin-right: 300px;
}

#sketch_to_be_drawn{
    color: brown ;
}

body{
    font-family: 'Crete Round';
}

#show_sketch{
    float: right;
    margin-right: 15px;
}